.jumbotron {
  padding-top: 13rem;
  background-color: #ecece2;
}

section {
  padding-top: 7rem;
}

.sosial-media {
  padding-top: 10rem;
}

footer {
  background-color: #333;
  padding-top: 10rem;
  padding: 44px;
  text-align: center;
}

footer small {
  color: #fff;
}
